@model App.Models.ProjectViewModel
@using App.Models

@{
    ViewBag.Title = "Add Project";
}

<h2>Add Project</h2>

@using (Html.BeginForm("CreateProject", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Add new project.</h4>
    @Html.Partial("ProjectPartialForm")
}






