@model App.Models.ProjectViewModel
@using App.Models

@{
    ViewBag.Title = "Edit project";
    ProjectViewModel project = Model;
}

<h2>Edit project</h2>

@using (Html.BeginForm("EditProject", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(x => x.Id,  Model.Id)
    @Html.Partial("ProjectInputPartial")
}



