@using App.Models
@model ExtendedProjectViewModel
@{ 
    ProjectViewModel project = Model.Project;
}



<h1>@project.Name</h1>
<h5>@("Start date - " + project.StartDate)</h5>
<h5>@("End date - " + project.EndDate)</h5>
<br /><br />

@Html.Partial("SelectPartial", Model)
