@using App.Models
@model ICollection<ProjectViewModel>
@{
    ViewBag.Title = "Show Projects";
    ICollection<ProjectViewModel> ProjectList = Model;
    PositionsDataAccessObject RoleContainer = new PositionsDataAccessObject();
}

<h2>Projects</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ProjectList)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.StartDate</td>             
                <td>@item.EndDate</td>
                   @Html.Partial("PartialRemoveAndEditForm", item)        
            </tr>
        }
    </tbody>
</table>




