@model App.Models.EmployeeModel
@using App.Models

@{
    ViewBag.Title = "Add Employee";
    PositionsService RoleContainer = new PositionsService();
}

<h2>Add Employee</h2>

@using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Create a new employee.</h4>
    @Html.Partial("EmployeeInputPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
