@model App.Models.EmployeeModel
@using App.Models

@{
    ViewBag.Title = "EditEmployee";
    PositionsDataAccessObject RoleContainer = new PositionsDataAccessObject();
    EmployeeModel employee = Model;
}

<h2>Edit Employee</h2>

@using (Html.BeginForm("EditEmployee", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id, employee.Id)
    @Html.Partial("EmployeePartialForm")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


